@media (max-width:768px){

    body{
        margin:0px;
        display:flex;
        flex-direction:column;
        background-color: aliceblue;
        width:100%;
    }
    
    #genderBox{
        display:flex;
        flex-direction:row;
        justify-content: center;
    }

    .genderBoxDiv{
        display:flex;
        border: 1px solid black;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .genderImg{
        width: 90%;
    }


    #main{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #selectAge{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .agebtn{
        padding: 15px 30px;
        border: none;
        display: inline-block;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
        background-color: skyblue;
        margin: 10px;
        border-radius: 15px;
        text-decoration: none;
        font-weight: 600;
    }
}



